<!-- <body style="transition: 1s cubic-bezier(.75, 0, 0, 1);overflow: hidden;">
	<div id="overlay2" class="overlay2"></div>
	<div id="overlay" class="overlay">
		<div class="close close-nav"></div>	
	</div>
	<div class="navigation">
		<img style="margin: 10px 30px;" src="img/logo.png">
		<div id="burger" class="burger open-nav">
			<div class="omaewa">
				<div class="bar"></div>
				<div class="bar2"></div>
				<div class="bar"></div>
			</div>
			<div class="menu">MENU</div>
		</div>
	</div>
	<div id="main" style="background-color: #fff; transition: 1s cubic-bezier(.75, 0, 0, 1); padding: 0px 50px;">
		
	</div>
</body> -->